@import "tailwindcss";

html,
body {
  background-color: #000;
  color: #e8e6e1;
  font-family: var(--font-mono);
  overflow-x: hidden;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background-image: url("/images/textures/texture_bayer.png");
  background-size: 256px 256px;
  background-repeat: repeat;
  opacity: 0.03;
  pointer-events: none;
  z-index: 0;
}

.engraved-text {
  color: #e8e6e1;
  text-shadow: 0px 1px 0 rgba(255, 255, 255, 0.05),
    0px -1px 0 rgba(0, 0, 0, 0.9);
  letter-spacing: 0.08em;
}

.fog-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 240px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), transparent);
  pointer-events: none;
  z-index: 5;
}

.fog-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 240px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
  pointer-events: none;
  z-index: 5;
}

.dither-overlay {
  position: fixed;
  inset: 0;
  background-image: url("/images/textures/texture_bayer.png");
  background-size: 256px 256px;
  background-repeat: repeat;
  opacity: 0.03;
  pointer-events: none;
  z-index: 0;
}

.noise {
  background-image: url("/images/textures/texture_bayer.png");
  background-size: 256px 256px;
  background-repeat: repeat;
  opacity: 0.03;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.grain {
  background-image: url("/images/textures/texture_bayer.png");
  background-size: 256px 256px;
  background-repeat: repeat;
  opacity: 0.03;
  pointer-events: none;
}

.text-gold {
  color: #d7c49eff;
}
